{% if collections.tagList[tag.tagName] > project.paginationLimit %}
{% assign paginationPages = pagination.pages | include:"tagName",tag.tagName %}
{% capture prev %}&larr;&nbsp;Prev{% endcapture %}
{% capture next %}Next&nbsp;&rarr;{% endcapture %}

<nav class="label text-sm flex items-center justify-center space-x-8">
    <div class="flex">
        {% if tag.first %}
        <span class="text-gray-dark text-opacity-50">{{ prev }}</span>
        {% else %}
        <a class="hover:text-maroon" href="{{ pagination.href.previous | url }}">{{ prev }}</a>
        {% endif %}
    </div>

    <div class="hidden md:flex space-x-8">
        {% for item in paginationPages %}
            {% if pagination.hrefs[forloop.index0] == page.url %}
            <span class="text-gray-dark text-opacity-50">{{ forloop.index }}</span>
            {% else %}
            <a class="hover:text-maroon" href="{{ pagination.hrefs[forloop.index0] }}">{{ forloop.index }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="flex">
        {% if tag.last %}
        <span class="text-gray-dark text-opacity-50">{{ next }}</span>
        {% else %}
        <a class="hover:text-maroon" href="{{ pagination.href.next | url }}">{{ next }}</a>
        {% endif %}
    </div>
</nav>
{% endif %}