---
layout: default
---
{% include "_partials/shortcodes" %}

<section class="s-sm bg-gray-light">
    <div class="max-w-screen-xl mx-auto space-y-10">
        <div class="label-section">{{tags|first|replace:"-"," "}}</div>
        <div class="max-w-screen-lg">
            <h1>{{ title }}</h1>
            <p class="lg:w-3/4 font-sans text-base sm:text-md md:text-lg">{{ description }}</p>
            <div class="flex flex-row flex-nowrap items-center space-x-4 mt-8">
                {% image author.small_image, author.name, "rounded-full w-12 h-12", "60px" %}
                <div class="text-xs md:text-sm font-sans">
                    <p>{{ author.name }}</p>
                    <p class="text-gray-dark text-opacity-50">{{ author.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_sections/block-article" %}

<section class="s-sm bg-gray-light">
    <div class="max-w-screen-xl mx-auto">
        <div class="max-w-screen-md flex flex-col space-y-5 md:flex-row md:space-y-0 md:space-x-10">
            {% image author.medium_image, author.name, "rounded-full w-32 h-32", "128px" %}
            <div class="flex-1">
                <div class="label-section">About the author</div>
                <h4 class="mt-5 mb-2">{{ author.name }}</h4>
                <p class="lg:text-md">{{ author.bio }}</p>
                <p class="mt-2 lg:text-md"><a class="link" href="https://twitter.com/{{ author.twitter }}" rel="nofollow" target="_blank">Follow me on Twitter.</a></p>
            </div>
        </div>
    </div>
</section>

<section class="s-sm bg-navy">
    <div class="max-w-screen-xl mx-auto space-y-10">
        <div class="label-section text-gray-light border-gray-light border-opacity-50">Related ideas</div>
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {% for item in collections[tags] limit:3 %}
            {% include "_partials/card" type:"minimal" %}
            {% endfor %}
        </div>
    </div>
</section>
