<section class="s-md py-0 bg-gray-light">
    <div class="s-md lg:py-28 px-0 max-w-screen-xl mx-auto bg-right bg-no-repeat bg-none lg:bg-img" style="--bg-img: url('{{site.hero.main}}'); background-size: auto 115%;">
        <div class="md:w-2/3">
            <h1 class="mt-0">{{item.title|smartify}}</h1>
            <div class="flex flex-row flex-nowrap items-center space-x-4 lg:hidden mb-10">
                <img
                    src="{{ author.small_image }}"
                    class="rounded-full w-12 h-12"
                    alt="{{ author.name }}">
                <div class="text-xs font-sans">
                    <p>{{ author.name }}</p>
                    <p class="text-gray-dark text-opacity-50">{{ author.description }}</p>
                </div>
            </div>
            {% include "_partials/convertkit" %}
        </div>
    </div>
</section>