{% assign categories = collections.categories %}
<div class="s-sm bg-navy theme-dark">
    <div class="max-w-screen-xl mx-auto">
        <div class="label-section text-gray-light border-gray-light border-opacity-50">Explore my ideas</div>
        <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
            {% for item in collections.tagList %}
                <div>
                    <a href="/{{ item[0] }}/">
                        <h3 class="mb-2">
                            {{ item[0] | replace:"-"," " | capitalize }}<sup class="font-normal text-xs md:text-sm ml-1 -top-3">({{ item[1] }})</sup>
                        </h3>
                    </a>
                    <div class="flex flex-col border-t border-b border-gray-light border-opacity-25 divide-y divide-gray-light divide-opacity-25 my-2">
                    {% for item in collections[item.0] limit:3 %}
                        <div class="py-2">
                            <a class="" href="{{item.url}}">
                                {{ item.data.title }}
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="label" href="/{{ item[0] }}/">More about {{ item[0] | replace:"-"," " | capitalize }} &rarr;</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>