<section class="s-sm bg-gray-light">
    <div class="max-w-screen-xl mx-auto">
        <div class="grid gap-5 md:gap-10 md:grid-cols-2">
            <div class="w-full">
                <div class="w-full aspect-w-16 aspect-h-10">
                    {% capture "itemImage" %}{{ item.image | default:image }}{% endcapture %}
                    {% image itemImage, title, "object-contain h-full", "620px" %}
                </div>
            </div>
            <div>
                <h2>{{ item.title }}</h1>
                <p class="font-sans text-base sm:text-md md:text-lg">{{ item.text }}</p>
                <a class="mt-10 btn py-3 text-base md:text-md" href="{{ product_info.button_url }}">{{ product_info.button_text }}{{ product_info.price | prepend:" &#40;" | append:"&#41;" }}</a>
            </div>
        </div>
    </div>
</section>